.maindiv{

    margin-bottom: 50px;
  background: linear-gradient(90deg, #6a11cb, #2575fc); /* Purple to blue */
  color: white;

    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.maindiv a {
  color: #f5f7f8; /* Blue */
  text-decoration: none;
  font-weight: bold;
}

.maindiv a:hover {
  color: #ff5722; /* Orange on hover */
  text-decoration: underline;
} 